<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2014 - Today: GRAP (http://www.grap.coop)
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<openerp><data>

    <!-- Sale Recovery Work Part -->
    <menuitem id="menu_sale_recovery_work"
        name="Recovery Sales" sequence="20"
        parent="base.menu_base_partner" />

    <menuitem id="menu_sale_recovery_moment_group"
        sequence="1"
        parent="menu_sale_recovery_work"
        action="action_sale_recovery_moment_group"/>

    <menuitem id="menu_sale_recovery_moment"
        sequence="2"
        parent="menu_sale_recovery_work"
        action="action_sale_recovery_moment"/>

    <!-- Sale Preparation Configuration Part -->
    <menuitem id="menu_sale_preparation_config"
        name="Preparation Sales"
        parent="base.menu_base_config" />

    <menuitem id="menu_product_prepare_category"
        sequence="1"
        parent="menu_sale_preparation_config"
        action="action_product_prepare_category"/>

    <!-- Sale Recovery Configuration Part -->
    <menuitem id="menu_sale_recovery_config"
        name="Recovery Sales"
        parent="base.menu_base_config" />

    <menuitem id="menu_sale_recovery_place"
        sequence="1"
        parent="menu_sale_recovery_config"
        action="action_sale_recovery_place"/>

</data></openerp>
