@charset "utf-8";

.oe_kanban_box .product_label_kanban {
    height:100px;
    width:160px;
    overflow:hidden;
}

.oe_kanban_box .product_label_kanban_name {
    height:20px;
    width:160px;
    border-bottom:1px solid #999999;
    padding-left:5px;
}

.oe_kanban_box .product_label_kanban_image {
    height:80px;
    width:160px;
    text-align:center;
    vertical-align:middle;
    padding: 5px 5px 5px 5px;
}
