<?xml version="1.0" encoding="UTF-8"?>
<!-- ********************************************************************** -->
<!--    Sale - Recovery Moment Module for Odoo                              -->
<!--    Copyright (C) 2014- Today GRAP (http://www.grap.coop)               -->
<!--    @author Sylvain LE GAL (https://twitter.com/legalsylvain)           -->

<!--This program is free software: you can redistribute it and/or modify    -->
<!--it under the terms of the GNU Affero General Public License as          -->
<!--published by the Free Software Foundation, either version 3 of the      -->
<!--License, or (at your option) any later version.                         -->

<!--This program is distributed in the hope that it will be useful,         -->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of          -->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the           -->
<!--GNU Affero General Public License for more details.                     -->

<!--You should have received a copy of the GNU Affero General Public License-->
<!--along with this program.  If not, see <http://www.gnu.org/licenses/>.   -->
<!-- ********************************************************************** -->

<openerp>
    <data>

<!-- Sale Recovery Work Part -->
        <menuitem id="menu_sale_recovery"
            name="Recovery Sales" sequence="20"
            parent="base.menu_base_partner" />

        <menuitem id="menu_sale_recovery_moment"
            sequence="1"
            parent="menu_sale_recovery"
            action="action_sale_recovery_moment"/>

        <menuitem id="menu_sale_recovery_moment_group"
            sequence="2"
            parent="menu_sale_recovery"
            action="action_sale_recovery_moment_group"/>

<!-- Sale Recovery Configuration Part -->
        <menuitem id="menu_sale_recovery_config"
            name="Recovery Sales" sequence="20"
            parent="base.menu_base_config" />

        <menuitem id="menu_sale_recovery_place"
            sequence="1"
            parent="menu_sale_recovery_config"
            action="action_sale_recovery_place"/>

        <menuitem id="menu_product_prepare_category"
            sequence="2"
            parent="menu_sale_recovery_config"
            action="action_product_prepare_category"/>

<!-- Sale Recovery Extra View Part -->
        <menuitem id="menu_product_product_prepare"
            name="Products (Prepare)"
            sequence="5"
            parent="base.menu_product"
            groups="sale_recovery_moment.recovery_user"
            action="action_product_product"/>
    </data>
</openerp>
