.pos .pos-tare-container .left-block{
    display: inline-block;
    width:45%;
    margin:0;
    padding:0;
    text-align:left;
    font-size: 16px;
    color: #555;
    font-weight: bold;
}

.pos .pos-tare-container .right-block{
    display: inline-block;
    width:45%;
    margin:0;
    padding:0;
    text-align:right;
}
